/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: black;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}
