.side-menu-title {
  background-color: #614D7B;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: white;
  padding: 0.5rem 0.5rem;
}

.menu-trigger {
  border-bottom: 1px solid #e7e7e7;
}

.side-menu-title {
  mat-icon {
    margin-left: 1rem;
    border-radius: 50%;
    border: 1px solid white;
  }
}

.toggleButton {
  padding: 0 0.625rem;

  mat-icon {
    border-radius: 50%;
    border: 1px solid black;
  }
}

.sidenav_container {
  min-width: 3.75rem;
  height: calc(100vh - 200px);
  max-width: 20vw;
}
